#body {
  background-color: rgb(112, 188, 255);
}

h1 {
  display: flex;
}

.container {
  display: flex;
  /* margin-top: 50px; */
}

.center {
  display: flex;
  justify-content: center;
}

.header {
  text-align: center;
}

.buttons {
  background-color: blue;
  height: 20px;
  width: 60px;
  margin: 20px;
}

#questions {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.hide {
  display: none;
}

#endText {
  flex-direction: column;
  align-items: center;
}

.fontFancy {
  font-size: 26px;
  font-weight: 700;
}

.questionContainer {
  flex-direction: column;
}

.section {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.buttonDim {
  height: 40px;
  width: 100px;
  margin-top: 30px;
}

button {
  margin: 40px;
}

.button2 {
  height: 40px;
  width: 100px;
}